
<update-user-popup
    *ngIf="modoUpdPopup !== 'CLOSED'"
    [user]="selectedUser"
    (cerrarUpdPopUpOk)="onUpdSave($event)"
    (cerrarUpdPopUpCancel)="onCerrarUpdPopUpCancel()">
</update-user-popup>

<div class="user-list-page">
    <div class="buttons-container">
        <div>
            <button (click)="launchCreatePopup()">Create</button>
        </div>
        <div>
            <button (click)="launchUpdPopup(selectedUserId)">Update</button>
        </div>
        <div>
            <button (click)="launchDeletePopup(selectedUserId)">
                <img src="assets/images/DeleteIcon.JPG" alt="Delete" class="delete-icon" />
            </button>
        </div>
    </div>
    <div class="user-list-container">
        <table>
        <tr>
            <th></th>
            <th>Gender</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Creation</th>
            <th>Age</th>
            <th>Freakfast</th>
            <th>Job Position</th>
            <th>Main Address</th>
            <th>Extra Addresses</th>
        </tr>
        <tr *ngFor="let u of users">
            <td>
                <label>
                    <input type="radio" name="selectedUser" [value]="u.id" [(ngModel)]="selectedUserId" />
                </label>
            </td>
            <td class="user-gender-icon">
                <img
                    [src]="u.genderIcon"
                    [alt]="u.genero?.nombre || 'genre'"
                />
            </td>
            <td>{{u.nickUsuario}}</td>
            <td>{{u.primerApellido + ' ' + u.segundoApellido + ', ' + u.nombre}}</td>
            <td>{{u.fechaHoraCreacionFormatted}}</td>
            <td>{{u.age}}</td>
            <td>{{u.horaDesayunoFormatted}}</td>
            <td>{{u.puestoTrabajo?.nombre}}</td>
            <td>{{u.direccionPrincipal}}</td>
            <td>{{u.extraDirecciones}}</td>
        </tr>
        </table>
    </div>
</div>
