
<app-user-popup *ngIf="modoPopup !== 'CLOSED'"
                (cerrarPopUpOk)="onCerrarPopUpOk()"
                (cerrarPopUpCancel)="onCerrarPopUpCancel()"
/>

<div class="user-list-container">
    <h2>User List</h2>
        <table>
        <tr>
            <th></th>
            <th>Gender</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Creation</th>
            <th>Age</th>
            <th>Freakfast</th>
            <th>Job Position</th>
            <th>Main Address</th>
            <th>Extra Addresses</th>
        </tr>
        <tr *ngFor="let u of users">
            <td>
                <label>
                    <input type="radio" name="selectedUser" [value]="u.id" [(ngModel)]="selectedUserId" />
                </label>
            </td>
            <td class="user-gender-icon">
                <img
                    [src]="u.genderIcon"
                    [alt]="u.genero?.nombre || 'genre'"
                />
            </td>
            <td>{{u.nickUsuario}}</td>
            <td>{{u.primerApellido + ' ' + u.segundoApellido + ', ' + u.nombre}}</td>
            <td>{{u.fechaHoraCreacionFormatted}}</td>
            <td>{{u.age}}</td>
            <td>{{u.horaDesayunoFormatted}}</td>
            <td>{{u.puestoTrabajo?.nombre}}</td>
            <td>{{u.direccionPrincipal}}</td>
            <td>{{u.extraDirecciones}}</td>
        </tr>
        </table>
    <div>
        <button (click)="launchPopup()">Popup</button>
    </div>

</div>
