<div class="dialog-overlay"></div>
<div class="dialog-box">
    <div class="dialog-title">
        <h2>Actualizar usuario</h2>
    </div>
    <form #f="ngForm" (ngSubmit)="onSave()">
        <label>Nick
            <input name="nickUsuario" [(ngModel)]="model.nickUsuario" />
        </label>

        <label>Nombre
            <input name="nombre" [(ngModel)]="model.nombre" />
        </label>

        <label>Apellido1
            <input name="primerApellido" [(ngModel)]="model.primerApellido" />
        </label>

        <label>Apellido2
            <input name="segundoApellido" [(ngModel)]="model.segundoApellido" />
        </label>

        <label>Fecha Nac
            <input type="date" name="fechaNacimiento" [(ngModel)]="model.fechaNacimiento" />
        </label>

        <div class="container-button">
            <button type="submit">Guardar</button>
            <button type="button" (click)="onCancel()">Cancelar</button>
        </div>
    </form>
</div>